* {
  box-sizing: border-box;
}

/* #region task-form */

.task-form {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.task-form__input {
  width: 381px;
  height: 40px;

  padding: 11px 15px;

  color: white;

  border-radius: 10px;
  border: 1px solid #3e1671;
  background: #0d0714;
}

.task-form__button {
  width: 40px;
  height: 40px;

  border-radius: 10px;
  border: none;
  background: #9e78cf;

  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form__button:disabled {
  background: #9e78cf;
}

.task-form__button:hover:not(:disabled) {
  cursor: pointer;
  background: #b196d4;
}

.task-form__button-image {
  width: 22px;
  height: 22px;
}
/*#endregion */

.task-list {
  margin-top: 60px;

  display: flex;
  flex-direction: column;

  gap: 17px;
}

.task-list__list-name {
  margin: 0;
}

.task-list__card {
  padding: 27px 25px;

  width: 432px;
  height: 75px;
  border-radius: 10px;
  border: none;
  background: #15101c;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list__card-text {
  color: #9e78cf;
  font-family: Inter; /* TO DO */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.task-list__card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.task-list__card-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 5px;
  border: none;
  background: #15101c;
}

.task-list__card-button:hover {
  cursor: pointer;
  background: #392c4c;
}

.task-list__card-button_check {
}

.task-list__card-button_trash {
}
